@charset "UTF-8";
:root {
  --font-jk-base: "LXGW WenKai GB Screen R";
  --font-jk-text: "LXGW WenKai GB Screen R";
  --font-jk-mono: "Code New Roman", "LXGW WenKai Mono";
  --color-jk-purple: #896a9e;
  --color-jk-purple-33: #896a9e33;
}

body {
  --font-interface-theme: var(--font-jk-base);
  --font-text-theme: var(--font-jk-text);
  --font-monospace-theme: var(--font-jk-mono);
  --divider-color: #f000;
  --table-border-color: #cccc;
}
body::before {
  content: "";
  position: absolute;
  z-index: 9999;
  width: 100%;
  border-top: 4px solid;
  border-image-source: linear-gradient(90deg, #0d6efd, #8ed6fb 50%, #d32e9d);
  border-image-slice: 1;
}
body img {
  border-radius: 4px;
}
body .table-wrapper {
  width: 100% !important;
}
body .table-wrapper .table-editor {
  width: 100% !important;
  border-top: 2px solid var(--table-border-color);
}
body .table-wrapper .table-editor tbody tr:nth-child(odd) {
  background: rgba(170, 170, 204, 0.1333333333);
}
body .cm-inline-code {
  font-size: 14px !important;
  color: #d63384 !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
body .HyperMD-header.HyperMD-header-2::before {
  content: "♪²  ";
}
body .HyperMD-header.HyperMD-header-3::before {
  content: "♪³  ";
}
body .HyperMD-header.HyperMD-header-4::before {
  content: "♪⁴  ";
}
body .HyperMD-header.HyperMD-header-5::before {
  content: "♪⁵  ";
}
body .HyperMD-header.HyperMD-header-6::before {
  content: "♪⁶  ";
}
body .titlebar .mod-right {
  transition: all 0.3s linear;
  opacity: 0;
}
body .titlebar .mod-right:hover {
  opacity: 1;
}
body .app-container .mod-left {
  transition: all 0.3s linear;
  opacity: 0;
}
body .app-container .mod-left:hover {
  opacity: 1;
}
body .app-container .mod-left-split {
  transition: all 0.3s linear;
  opacity: 0;
}
body .app-container .mod-left-split:hover {
  opacity: 1;
}
body .app-container .mod-left-split .workspace-tab-header-container {
  transition: all 0.3s linear;
  opacity: 0;
}
body .app-container .mod-left-split .workspace-tab-header-container:hover {
  opacity: 1;
}
body .app-container .mod-left-split .workspace-tab-container .nav-buttons-container {
  transition: all 0.3s linear;
  opacity: 0;
}
body .app-container .mod-left-split .workspace-tab-container .nav-buttons-container:hover {
  opacity: 1;
}
body .app-container .mod-root .mod-top:not(.mod-stacked) .workspace-tab-header-container {
  transition: all 0.3s linear;
  opacity: 0;
  width: 666px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 10px;
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0;
}
body .app-container .mod-root .mod-top:not(.mod-stacked) .workspace-tab-header-container:hover {
  opacity: 1;
}
body .app-container .mod-root .mod-top:not(.mod-stacked) .workspace-tab-header-container .workspace-tab-header-container-inner {
  padding: 0px 15px 5px;
}
body .app-container .mod-root .mod-top:not(.mod-stacked) .workspace-tab-header-container .sidebar-toggle-button {
  z-index: 99;
}
body .app-container .mod-root .mod-top:not(.mod-stacked) .workspace-tab-header-container ::after {
  display: none;
}
body .app-container .mod-root .mod-top:not(.mod-stacked) .workspace-tab-header-container .workspace-tab-header {
  border-radius: 20px;
  padding-top: 4px;
  margin: 1px 1px;
  border: 1px solid var(--color-jk-purple-33);
}
body .app-container .mod-root .mod-top:not(.mod-stacked) .workspace-tab-header-container .workspace-tab-header.is-active {
  border: 1px solid var(--color-jk-purple);
}
body .app-container .mod-root .mod-top:not(.mod-stacked) .workspace-tab-header-container .workspace-tab-header .workspace-tab-header-inner {
  margin: 0 4px;
  background: transparent;
}
body .app-container .mod-root .mod-top:not(.mod-stacked) .workspace-tab-header-container .workspace-tab-header::before, body .app-container .mod-root .mod-top:not(.mod-stacked) .workspace-tab-header-container .workspace-tab-header::after {
  display: none;
}
body .app-container .mod-root .mod-top:not(.mod-stacked) .workspace-tab-header-container .workspace-tab-header:hover {
  background: var(--color-jk-purple-33);
}
body .app-container .mod-root .workspace-tab-container {
  border-radius: 16px;
}
body .app-container .mod-root .workspace-tab-container .view-header {
  transition: all 0.3s linear;
  opacity: 0;
}
body .app-container .mod-root .workspace-tab-container .view-header:hover {
  opacity: 1;
}
body .app-container .mod-root .workspace-tab-container .view-header .view-header-nav-buttons {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 99;
}
body .app-container .mod-root .workspace-tab-container .view-header .view-header-title-container {
  opacity: 0;
}
body .app-container .mod-root .workspace-tab-container .view-header .view-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}
body .app-container .mod-root .workspace-tab-container .view-content .metadata-container {
  transition: all 0.2s linear;
  margin-bottom: 28px;
}
body .app-container .mod-root .workspace-tab-container .view-content .metadata-container.is-collapsed {
  height: 0;
  padding: 0;
}
body .app-container .mod-root .workspace-tab-container .view-content .metadata-container .metadata-properties-heading {
  width: 100%;
  cursor: pointer;
}
body .app-container .mod-root .workspace-tab-container .view-content .metadata-container .metadata-properties-heading .metadata-properties-title {
  opacity: 0;
}
body .app-container .mod-right-split {
  transition: all 0.3s linear;
  opacity: 0;
}
body .app-container .mod-right-split:hover {
  opacity: 1;
}
body .app-container .mod-right-split .workspace-tab-header-container {
  transition: all 0.3s linear;
  opacity: 0;
}
body .app-container .mod-right-split .workspace-tab-header-container:hover {
  opacity: 1;
}
body .app-container .mod-right-split .workspace-tab-container {
  padding-top: 24px;
}
body .app-container .mod-right {
  transition: all 0.3s linear;
  opacity: 0;
}
body .app-container .mod-right:hover {
  opacity: 1;
}
body .app-container .status-bar {
  transition: all 0.3s linear;
  opacity: 0;
}
body .app-container .status-bar:hover {
  opacity: 1;
}

.theme-dark {
  --background-primary: #262626;
  --background-secondary: #262626;
  --background-secondary-alt: #262626;
}

.theme-light {
  --background-primary: #f4f7fb;
  --background-primary-alt: #fff7;
  --background-secondary: #f4f7fb;
  --background-secondary-alt: #f4f7fb;
  --background-modifier-hover: var(--color-jk-purple-33);
}/*# sourceMappingURL=theme.css.map */